flask
requests
python-dotenv
werkzeug
gunicorn
bcrypt
email-validator
flask-login
flask-sqlalchemy
oauthlib
psycopg2-binary
Pillow
supabase
google-generativeai
sqlalchemy
APScheduler
telnyx
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
APScheduler
bcrypt
email-validator
flask
flask-login
flask-sqlalchemy
google-generativeai
gunicorn
oauthlib
Pillow
psycopg2-binary
python-dotenv
requests
sqlalchemy
supabase
telnyx
werkzeug
